@{
    ViewData["Title"] = "Despre noi";
}
<h1>@ViewData["Title"]</h1>

<div class="aboutUs">
    <p>
        Misiunea noastra, a celor de la brandul My Random Clothes este acela de a sparge barierele imbracatului monoton. Integreaza in garderoba ta o piesa "aleatoare", colorata, unica.
    </p>
    <br />
    <p>
        Date de contact:
        <br>
        Email: contact@myrandomclothes.com
        <br>
        Telefon: +40723237900
        <br>
        Adresa: Bucuresti, Sector 3, Strada Lalelelor, Nr. 35.

    </p>
</div>
