<!DOCTYPE html>
<html>
<head>
        <meta name="viewport" content="width = devce-width" />
</head>
<body>
    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <th>
                Total:
            </th>
        </tr>
        <tr>
            <td>
                @ViewData["total"]
            </td>
        </tr>
    </table>
</body>
</html>